.nova
{
	.widget-inner
	{	
		img
		{
			padding-left: 15%;
		}
		h3
		{
			padding-left: 8%;
		}
		.btn
		{
			margin-right: 32%;
		}
		.PayPingCheckout:hover 
		{
    		background: #b2b2b2;
    		color: white;
		}
		.PayPingCheckout 
		{
			display: block;
    		border: none;
    		color: #222222;
    		font-weight: large;
    		background: #e9e9e9;
    		margin-left: 95px;
		}
		.topicnum
		{
			color: #ccc;
		}
		h2.mb10
		{
			margin-left: 25%;
			margin-bottom: 25px;
			margin-top: 10px;
		}
	}
}